<nav style="border-radius:999px;background-color:antiquewhite; display:grid; justify-items:center;align-items:center">
    <ul style=" border-radius:999px;width:100%;padding:0 1rem;background-color:dodgerblue;display:grid; grid-template-columns:repeat(4,1fr) ;list-style: none;">
        <li><a href="./">Home</a></li>
        <li><a href="./about">About</a></li>
        <li><a href="./blog">Blog</a></li>
        <li><a href="./contact">Contact</a></li>
    </ul>
</nav>